<section id="content" class="m-t-md animated fadeIn">
  <section id="landing" class="text-center">
    <h1 class="h1-md">pyro</h1>
    <h3>Thank you for your interest!</h3>
    <h4>We will let you know.</h4>
    <div ng-click="pyroSymbolClicked()" class="btn btn-warning btn-secondary btn-fab btn-raised" style="positon"><i class="fa fa-fire"></i></div>
    <br/>
    <a href="" class="btn btn-warning btn-raised" style="margin-top: 3em;">Our Blog<div class="ripple-wrapper"></div></a>
  </section>
</section>

<footer id="footer">
  <div class="text-center padder">
    <p><small>Built by<br/>&copy; 2014 <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small></p>
  </div>
  <script src="lib/resize/resize.js"></script>
</footer>
