<div class="container-fluid main animated fadeIn" style="height: 100%;">
  <div class="row">

    <nav class="col-xs-1 menu ng-hide" style="height: 100%;">
      <ul>
        <li class="withripple" data-target="#overview">Overview</li>
        <li class="withripple" data-target="#how">How It Works</li>
        <li class="withripple" data-target="#team">Our Team</li>
        <li class="withripple" data-target="#contact">Contact</li>
      </ul>
    </nav>

    <div class="col-xs-12" style="height: 100%;">
      <div id="overview"  class="col-xs-10 col-xs-offset-1 text-center" >    
          <div id="pyro-label" class="vertical-align">
            <img id="logo" src="images/PyroFire-lg.png" style="height:auto;width:auto;"/>
            <h1 class="app-title h1-md" style="margin-top: 0">pyro</h1>
            <h3 class="app-title hidden-mobile">realtime apps with ease</h3>
            <!-- <button id="pyrobutton" ng-click="pyroSymbolClicked()" class="btn btn-fab btn-raised btn-main btn-material-deeporange"><i class="fa fa-fire"></i></button> -->
          </div>
          <div id="signup" style="position:absolute;bottom:0;left:0;right:0;">
            <h4 style="font-weight:300">sign up for the private alpha:</h4><hr class="hidden-mobile"/>
            <div style="margin: 1em auto;position:relative;">
              <input type="text" class="form-control" placeholder="you@example.com" style="position:absolute;top:0;text-align:center;" ng-model="signupData.email">
              <a href="" class="btn btn-material-deeporange btn-raised" style="margin-top: 3em;" ng-click="betaSignup()">submit<div class="ripple-wrapper"></div></a>
            </div>
          </div>
      </div>

    </div>
  </div>

  <div id="footer" class="row">
    <div ui-sref="login" class="col-xs-2 text-center text-muted clickable">
      login
    </div>
    <div class="col-xs-8 text-center" style="height: 100%;">
      <small>&copy; 2014 <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small>
    </div>
    <div ui-sref="signup" class="col-xs-2 text-center text-muted clickable">
      signup
    </div>
  </div>
</div>

<script>
  $(function() {
    function abso() {
      $('#overview').css({
        height: $(window).height()-$('#footer').height(),
      });
      $('#signup').css({
        bottom: $('#footer').height()
      });
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('#pyro-label').css({
          'top': $('#overview').height()/2 - $('#pyro-label').height()
        });
        $('h1.app-title').css({
          'line-height': 0.9
        });
        $('#signup').css({
          'bottom':0
        });
        $('.hidden-mobile').css({
          'display': 'none'
        });
        $('#logo').css({
          'max-height': '150px',
          'max-width': '150px'
        });
      } else {
        $('#pyro-label').css({
          'top': $('#overview').height()/2 - $('#pyro-label').height()/2
        });
        $('h1.app-title').css({
          'line-height': 1.5
        })
        $('#logo').css({
          'max-height': '200px',
          'max-width': '200px'
        });
      }
    }
    $(window).resize(function() {
      abso();         
    });
    abso();
  });
</script>