  <nav class="navbar navbar-material-white navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">SITE MENU</span>
          <span class="text-warning">SITE MENU</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="landing" ><button id="pyrobutton" class="btn btn-fab btn-main btn-material-deeporange"><i class="fa fa-fire"></i></button><span class="m-l-sm">Pyro</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
         <li><a href="http://pyrolabs.readme.io/v1.0/docs/getting-started" class="btn btn-default btn-flat">Getting Started</a></li>
          <li><a href="http://pyrolabs.readme.io/v1.0/docs/developer-docs" class="btn btn-default btn-flat">Docs</a></li>
          <li><a class="btn btn-default btn-flat btn-outline btn-account btn-login" ui-sref="login">Login</a></li>
          <li><a class="btn btn-default btn-flat btn-outline btn-account btn-signup" ui-sref="signup">Sign Up</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid">
    <div class="text-center" style="margin-top:6em;">
      <div class="page-header">
        <h1>Develop Powerful Apps on the Web</h1>
      </div>
      <p class="lead">An intuitive web platform for building, testing, deploying, and analyzing realtime apps.</p>
    </div>
    <div class="text-center" style="margin-top:6em;margin-bottom:6em;">
      <h4 style="font-weight:300">sign up to get updates about the beta:</h4>
      <div style="margin: 1em auto;position:relative;">
        <input type="text" class="form-control text-center" placeholder="you@example.com" ng-model="signupData.email">
        <a href="" class="btn btn-material-deeporange btn-raised" style="margin-top: 3em;" ng-click="betaSignup()">submit<div class="ripple-wrapper"></div></a>
      </div>
    </div>
  </div>

  <div id="footer" class="m-t-lg text-center" style="background:white;">
    <div class="row">
      <div class="col-xs-12 m-t-md">
        Built with:
      </div>
    </div>
    <div class="row m-t-sm">
      <div class="col-sm-3"></div>
      <a class="col-sm-2" target="_blank" href="https://www.firebase.com/"><img class="logo partner desaturate" src="https://pbs.twimg.com/profile_images/1974595305/firebase_branding_r4_FINAL_03.png" alt="Firebase"/></a>
      <a class="col-sm-2" target="_blank" href="https://angularjs.org/"><img class="logo partner desaturate" src="https://camo.githubusercontent.com/6795c053f2fafee4d1c76f3a181876013827dd5e/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333437303430322f313230383630372f32376637643134322d323564362d313165332d386330372d6139316532633736396435322e706e67" alt="AngularJS"/></a>
      <a class="col-sm-2" target="_blank" href="http://ionicframework.com/"><img class="logo partner desaturate" src="http://ionicframework.com/img/ionic-logo-blog.png" alt="Ionic"/></a>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 m-t-sm">
        <small>&copy; 2014-2015 <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small>
      </div>
    </div>
    <div class="row italic">
      <small>"If I have seen further it is by standing on the shoulders of giants." -Isaac Newton</small>
    </div>
  </div>
<!--
 <div class="container main animated fadeIn" style="height: 100%;">

  <div class="row">
    <div class="col-xs-12" style="height: 100%;">
      <div id="overview"  class="col-xs-10 col-xs-offset-1 text-center" >    
          <div id="pyro-label" class="vertical-align">
            <h1 class="app-title h1-md" style="margin-top: 0">pyro</h1>
            <h3 class="app-title hidden-mobile m-b-md">realtime apps with ease</h3>
            <button id="pyrobutton" ng-click="pyroSymbolClicked()" class="btn btn-fab btn-raised btn-main btn-material-deeporange" style="margin-top:1em;"><i class="fa fa-fire"></i></button>
          </div>
      </div>
    </div>
  </div>

  <div id="footer" class="row">
    <div class="col-xs-12 text-center">
      <small>&copy; 2014-2015 <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small>
    </div>
  </div>



</div> -->
