<div class="container-fluid main animated fadeIn" style="height: 100%;">
  <div class="row">
    <nav class="col-xs-1 menu ng-hide" style="height: 100%;">
      <ul>
        <li class="withripple" data-target="#thanks">Overview</li>
        <li class="withripple" data-target="#how">How It Works</li>
        <li class="withripple" data-target="#team">Our Team</li>
        <li class="withripple" data-target="#contact">Contact</li>
      </ul>
    </nav>
    <div class="pages col-xs-12" style="height: 100%;">
      <div id="thanks"  class="col-xs-10 col-xs-offset-1" style="padding-top:0;">    
        <div class="text-center">
          <div id="pyro-label" class="vertical-align">
            <h2>Thank you for your interest!</h2>
            <h4>We'll be in touch!</h4>
            <br/>
            <button id="pyrobutton" ui-sref="landing" class="btn btn-fab btn-raised btn-main btn-material-deeporange">
              <i class="ion-ios-arrow-back"></i>
            </button>
            <div id="contact">
              <h4 style="padding-top:2em;">info@pyrolabs.io</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="row">
    <div ui-sref="login" class="col-xs-2 text-center text-muted clickable" style="height: 100%;">
      login
    </div>
    <div class="col-xs-8 text-center" style="height: 100%;">
      <small>&copy; 2014-2015 
      <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; 
      <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small>
    </div>
    <div ui-sref="signup" class="col-xs-2 text-center text-muted clickable" style="height: 100%;">
      signup
    </div>
  </div>
</div>
<script>
  $(function() {
    function abso() {
      $('#thanks').css({
        height: $(window).height()-$('#footer').height()
      });
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('#pyro-label').css({
          'top': $('#thanks').height()/2 - $('#pyro-label').height()
        });
      } else {
        $('#pyro-label').css({
          'top': $('#thanks').height()/2 - $('#pyro-label').height()/2
        });
      }
      $('#contact').css({
        'top': $('#contact').height()/2
      });
    }
    $(window).resize(function() {
      abso();         
    });
    abso();
  });
</script>