/* Empty. Add your own CSS if you like */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; 
}

h1, h2, h3, h4 {
  font-weight:100;
}

.h1-md {
  font-size:10em;
}

#content {
  position:absolute;
  top:0px; right:0;
  bottom:0; left:0;
  padding-top: 81px !important;
}

#background-header {
  position:absolute;
  height: 140px;
  top:0; right:0;
  bottom:auto; left:0;
}
#background-container {
  position:absolute;
  top:0; right:0;
  bottom:0; left:0;
}
#footer{ 
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}

#content.panel {
  margin: 118px 72px;
  height: 440px;
}

#content.panel .panel-heading {
  font-size: 1.375em;
}

#landing {
  margin: 0;
  padding: 
}
/*
.panel-heading .panel-warning {
  background-color: 
}*/

#builder {
  height: 100%;
}

#build-editor {
  width: auto;
  height: 100%;
}

ul.ng-scope {
  display: block !important;
}
.tree-label span {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}


.ion-icon{ 
  font-size: 1.5em;
}

.ion-icon-lg{ 
  font-size: 1.5em;
}

.menu-item {
  margin: 0.75em 0 0.75em 1em;
}
.menu-item .active,
.menu-item .active a {
  cursor: default !important;
}
.menu-item.second-item {
  margin: 0.75em 0 0.75em 0;
  padding-left: 4.5em !important;
}
.navbar-fixed-top {
  text-align: center;
  display: block;
}

.navbar-brand {
  padding-top: 15px;
}

.nav .nav-main {
  margin-left: 10px;
}

#nav .btn-group {
  border: none !important;
  box-shadow: none !important;
}

.list.card {
  max-width: 20em !important;
  margin-right: 1em !important;
}

.item.item-input {
border:none;padding-right:1em;
}

.item.menu-item,
.item.menu-item i.main-icon {
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.item.menu-item > a {
  width: 100%;
}
.item.menu-item > a > i {
  text-align: center;
}
.item.menu-item {
  cursor: pointer;
}
.item.menu-item:hover {
  background-color: auto!important;
}
.item.menu-item:hover i.main-icon,
.item.menu-item.active i.main-icon,
.item.menu-item.active li.active .second-item:not(i):not(.nonactive) {
  color: #E64A19 !important;
}
.item.menu-item.active .second-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item.menu-item.active .second-item:hover {
  color: #E64A19 !important;
}

.btn-default.btn-secondary {
  background-color: #FAFAFA !important;
}
.btn-warning.btn-secondary {
  background-color: #FF9675 !important;
}


.navbar-dark {
  background-color: #616161 !important;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}