<section id="instance-list">
  <section id="content" style="top:">
    <section class="hbox stretch">
      <section class="vbox no-margin">
        <section class="scrollable wrapper-lg">
          <div class="m-b-md h2">
            <span class="font-thin">Applications</span>
          </div>
          <div class="row m-b">
            <div class="col-sm-6 col-md-4">
              <section class="panel b-a" style=" height:268px;" >
                <div class="panel-heading lter" >
                  <!-- Might be good for notifications
                  <span class="pull-right badge dk m-t-sm">17</span> -->
                  <a href="" class="h4 text-lt text-center m-t-sm m-b-sm block font-bold"><p class="text-dark">New Pyro App</p></a>
                </div>
                <div class="panel-body text-center" style="padding-top:30px;">
                  <div ng-hide="existingMode == true || simpleMode == true" style="margin-bottom:40px;">
                    <a href="" ng-click="simpleMode = true" class="btn btn-s-md btn-warning">Simple Setup</a>
                  </div>
                  <div ng-show="simpleMode == true" class="ng-hide" style="padding-left:10%; padding-right:10%;">
                    <a href="" ng-click="simpleSetup()"  class="btn btn-s-md" ng-class="{'btn-default disabled': !newAppData.name, 'btn-info':newAppData.name}">Create New App</a>
                    <h4 style="color:red;">{{err.message}}</h4>
                    <div class="form-group " style="margin-top:40px;">
                      <label class="pull-left">New App Name</label>
                      <div class="row">
                        <input type="text" ng-model="newAppData.name" placeholder="exampleApp" class="form-control" style="">
                      </div>
                    </div>
                  </div>
                  <div  ng-hide="existingMode == true || simpleMode == true" style="margin-top:20px;">
                    <a href="" ng-click="existingMode = true"  class="btn btn-s-md btn-default btn-secondary">Manage Existing Database</a>
                  </div>
                  <div ng-show="existingMode == true" ng-hide="existingMode != true || simpleMode == true">
                    <a href="" ng-click="manageInstance()"  class="btn btn-s-md" ng-class="{'btn-default disabled': !newAppData.name, 'btn-info':newAppData.name}">Start Managing</a>
                    <h4 style="color:red;">{{err.message}}</h4>
                    <div class="form-group " style="margin-top:40px;">
                      <label class="pull-left">Firebase Url</label>
                      <div class="row">
                        https://
                        <input type="text" ng-model="newAppData.name" placeholder="yourApp" class="form-control" style="width:100px; display:inline;">
                        .firebaseio.com
                      </div>
                    </div>
                  </div>
                  <div class="clearfix panel-footer" ng-show="existingMode == true">
                    <a href="" ng-click="existingMode = false" class="pull-right"><i class="i i-trashcan text-muted"></i></a>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-sm-6 col-md-4" ng-repeat="instance in instanceList">
              <section class="panel b-a">
                <div class="panel-heading no-border">
                  <a href="" ng-click="viewDetail(instance.name)" class="btn btn-warning btn-fab btn-raised pull-right"><i class="fa fa-fire" style="font-size:0.75em;margin-top:-0.5em;"></i></a>

                  <a ng-click="viewDetail(instance.name)" class="h4 text-lt m-t-sm m-b-sm block font-bold"><p class="text-dark">{{instance.name}}</p></a>
                </div>
                <div class="panel-body">
                  <!-- <span class="pull-right text-muted">{{instance.createdAt || "At Some Point"}}</span> -->
                  <h3 class="font-thin">{{instance.url || "unknown url"}}</h3>
                  <div class="row text-center m-t">
                    <div class="col-xs-6">
                      <h3 class="font-thin">{{instance.userCount || "0"}}</h3>
                      <p>Total {{instance.userCount !== 1 ? "Users" : "User"}}</p>
                    </div>
                    <div class="col-xs-6">
                      <h3 class="font-thin">{{instance.sessionCount || "0"}}</h3>
                      <p>Total {{instance.sessionCount !== 1 ? "Sessions" : "Session"}}</p>
                    </div>
                  </div>
                </div>
                <div class="clearfix panel-footer">
                  <a href="" class="pull-right" ng-click="startDelete(instance.name)"><i class="i i-trashcan text-muted"></i></a>
                </div>
              </section>
            </div>
          </div>
        </section>
      </section>

    </section>

  </section>
</section>
