<ion-view >
  <ion-content class="has-header">
  	<ion-list>
      <ion-item nav-clear menu-close ui-sref="apps">
        Users
      </ion-item>
      <ion-item nav-clear menu-close ui-sref="apps">
        Sessions
      </ion-item>
      <ion-item nav-clear menu-close ui-sref="apps" style="margin-bottom:100px;">
        Rolls
      </ion-item>
      <ion-item nav-clear menu-close ui-sref="apps">
        Apps Dashboard
      </ion-item>
      <ion-item nav-clear menu-close ui-sref="account">
        Account
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>