<ion-view hide-back-button="true" title="FireAdmin">
	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-content class="has-header">
		<div style="text-align:center;">
			<h2>{{app.name}}</h2>
			<ion-list>
				<label class="item item-input" style="text-align:center;">
				<span class="input-label">Secret:</span>
					<input type="text" ng-model="app.secret">
				</label>
			</ion-list>
			<h3 style="margin-top:40px;">Analytics:</h3>
			</div>
			<h4>Users:</h4>
			<ion-list>
				<label class="item item-input" style="text-align:center;" ng-repeat="(id,user) in appData.users">
				{{id}}
				</label>
			</ion-list>
		
	</ion-content>
</ion-view>