
  <section id="instance-list">
    <section class="hbox stretch">
      <section id="content">
        <section class="vbox no-margin">
          <section class="scrollable wrapper-lg m-t-xl">
            <div class="m-b-md m-t-md h2">
              <span class="font-thin">Applications</span> 
            </div>
            <div class="row m-b">
              <div class="col-sm-6 col-md-4">
                <section class="panel b-a" style=" height:268px;" >
                  <div class="panel-heading bg-success lter" >
                    <!-- Might be good for notifications
                    <span class="pull-right badge dk m-t-sm">17</span> -->
                    <a href="" class="h4 text-lt text-center m-t-sm m-b-sm block font-bold"><p class="text-dark">New Pyro App</p></a>
                  </div>
                  <div class="panel-body text-center" style="padding-top:30px;">
                    <div ng-hide="existingMode == true || simpleMode == true" style="margin-bottom:40px;">
                      <a href="" ng-click="simpleMode = true" class="btn btn-s-md btn-default btn-secondary">Simple Setup</a>
                    </div>
                    <div ng-show="simpleMode == true" class="ng-hide" style="padding-left:10%; padding-right:10%;">
                      <a href="" ng-click="simpleSetup()"  class="btn btn-s-md" ng-class="{'btn-default disabled': !newAppData.name, 'btn-info':newAppData.name}">Create New App</a>
                      <h4 style="color:red;">{{err.message}}</h4>
                      <div class="form-group " style="margin-top:40px;">
                        <label class="pull-left">New App Name</label>
                        <div class="row">
                        <input type="text" ng-model="newAppData.name" placeholder="exampleApp" class="form-control" style="">
                        </div>
                      </div>
                    </div>
                    <div  ng-hide="existingMode == true || simpleMode == true" style="margin-top:20px;">
                      <a href="" ng-click="existingMode = true"  class="btn btn-s-md btn-warning">Manage Existing Database</a>
                    </div>
                    <div ng-show="existingMode == true" ng-hide="existingMode != true || simpleMode == true">
                      <a href="" ng-click="createInstance()"  class="btn btn-s-md" ng-class="{'btn-default disabled': !newAppData.name, 'btn-info':newAppData.name}">Start Managing</a>
                      <h4 style="color:red;">{{err.message}}</h4>
                      <div class="form-group " style="margin-top:40px;">
                        <label class="pull-left">Firebase Url</label>
                        <div class="row">
                        https://
                        <input type="text" ng-model="newAppData.name" placeholder="yourApp" class="form-control" style="width:100px; display:inline;">
                        firebaseio.com
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix panel-footer" ng-show="existingMode == true">
                    <a href="" ng-click="existingMode = false" class="pull-right"><i class="i i-trashcan text-muted"></i></a>
                  </div>
                </section>
              </div>
              <div class="col-sm-6 col-md-4" ng-repeat="instance in instanceList">
                <section class="panel b-a">
                  <div class="panel-heading no-border" ng-class="cardClasses[$index]">
                    <a href="javascript:void(0)" ng-click="viewDetail($index)" class="btn btn-warning btn-fab btn-raised pull-right"><i class="fa fa-fire" style="font-size:0.75em;margin-top:-0.5em;"></i></a>

                    <a ng-click="viewDetail($index)" class="h4 text-lt m-t-sm m-b-sm block font-bold"><p class="text-dark">{{instance.name}}</p></a>
                  </div>
                  <div class="panel-body">
                    <!-- <span class="pull-right text-muted">{{instance.createdAt || "At Some Point"}}</span> -->
                    <h3 class="font-thin">{{instance.url || "unknown url"}}</h3>
                    <div class="row text-center m-t">
                      <div class="col-xs-6">
                        <p>Total Users</p>
                        <h3 class="font-thin">12</h3>
                      </div>
                      <div class="col-xs-6">
                        <p>Online</p>
                        <h3 class="font-thin">2</h3>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix panel-footer">
                    <a href="" class="pull-right" ng-click="startDelete(instance.name)"><i class="i i-trashcan text-muted"></i></a>
                  </div>
                </section>
              </div>
            </div>
<!--             <div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default btn-rounded"><i class="i i-arrow-left4"></i></button>
                <button type="button" class="btn btn-sm btn-default btn-rounded"><i class="i i-arrow-right4"></i></button>
              </div>
            </div> -->
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
      </section>
    </section>
  </section>
  
<footer id="footer">
  <div class="text-center padder">
    <p><small>Built by<br/>&copy; 2014 <a href="https://www.linkedin.com/in/prescottprue">Prescott Prue</a> &amp; <a href="https://www.linkedin.com/in/sinanbolel">Sinan Bolel</a></small></p>
  </div>
  <script src="lib/resize/resize.js"></script>
</footer>
