<div id="content" class="builder">
  <div class="hbox stretch" style="height:100%;">
    <!-- .aside -->
    <aside class="bg-white aside-md hidden-print hidden-xs" id="nav">
      <div class="vbox">
        <div class="w-f scrollable">
          <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
              <div class="btn-group" style="background:none;">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cube ion-icon-lg" style="margin-right:5px;"></i> {{pyroInstance.name || 'App'}} <div class="caret"></div></a>
                <ul class="dropdown-menu dropdown-select"style="width:100%;text-align:center;">
                  <li ng-repeat="(key, val) in instanceList"><a ui-sref="{{currentState}}({ appId: '{{val.name}}'})"><input type="radio" name="b">{{val.name}}</a></li>
                </ul>
              </div>
              <ul class="nav nav-main">
                <li ng-click="goToData();" class="item menu-item">
                  <a>
                    <i class="icon ion-icon main-icon ion-merge">
                    </i>
                    <span class="font-bold">Data</span>
                  </a>
                </li>
                <li class="item menu-item active">
                  <a>
                    <i class="icon ion-icon main-icon ion-code-working text-warning">
                    </i>
                    <span class="font-bold">Editor</span>
                    <div class="pull-right">
                      <i class="ion-icon m-l-xs ion-ios-cloud-download-outline"></i>
                      <i class="ion-icon m-l-xs ion-ios-cloud-upload"></i>
                    </div>
                  </a>
                </li>
                <li class="item menu-item vbox stretch">
                  <!-- /filelist -->
                  <treecontrol class="tree-classic" tree-model="files" options="opts" on-selection="openFile(node)">
                    {{node.name}}
                  </treecontrol>
                  <!-- /filelist -->
                </li>
                <li ng-click="goToTester();" class="item menu-item">
                  <a>
                    <i class="icon ion-icon main-icon ion-iphone">
                    </i>
                    <span class="font-bold">Tester</span>
                  </a>
                </li>
                <li ng-click="goToDash()" class="item menu-item">
                  <a class="auto">
                    <i class="icon ion-icon main-icon ion-ios-analytics-outline">
                    </i>
                    <span class="font-bold">Insights</span>
                  </a>
                </li>
              </ul>
              <div class="line dk hidden-nav-xs"></div>
            </nav>
            <!-- / nav -->
          </div>
        </div>
      </div>
    </aside>
    <!-- /.aside -->

    <!-- editor -->

    <div id="builder">
      <button class="btn btn-fab btn-fab-mini btn-raised btn-material-red visible-xs" ng-click="collapseFolders();" style="position:fixed;right:3%;top:2.125em;z-index:2000;"><i class="ion-document text-white"></i></button>
      <treecontrol class="tree-classic ng-hide" ng-show="files.$collapsed" tree-model="files" options="opts" on-selection="openFile(node)">
        {{node.name}}
      </treecontrol>
      <div ui-ace="{useWrapMode: true, theme:'monokai', onLoad:aceLoaded, onChange:aceChanged}" id="build-editor" ></div>
    </div>
    <!-- /editor -->
  </div>
</div>
<script src="lib/resize/resize.js"></script>