<div id="content" class="builder">
  <div class="hbox stretch" style="height:100%;">
    <!-- .aside -->
    <aside class="bg-white aside-md hidden-print hidden-xs animated fadeInLeft" id="nav"  ng-show="files.$collapsed == true">
      <div class="vbox">
        <div class="w-f scrollable">
          <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">
            <!-- nav -->
            <nav class="nav-primary" style="padding-top:2em;">
              <treecontrol class="tree-classic" tree-model="files" options="opts" on-selection="openFile(node)">
                {{node.name}}
              </treecontrol>
            </nav>
            <!-- / nav -->
          </div>
        </div>
      </div>
    </aside>
    <!-- /.aside -->
    <div class="row navbar nav-header tetrad-green m-n" style="z-index:-1;">
      <div class="text-center">
        <h1 class="text-white" style="font-weight:200;">Editor</h1>
      </div>
    </div>
    <!-- editor -->

    <div id="builder">
      <div class="ng-hide" ng-show="files.$collapsed == true">
        <treecontrol class="tree-classic visible-xs m-t-md m-b-sm animated fadeInDown" tree-model="files" options="opts" on-selection="openFile(node)">
          {{node.name}}
        </treecontrol>
      </div>
      <div ui-ace="{useWrapMode: true, theme:'monokai', onLoad:aceLoaded, onChange:aceChanged}" id="build-editor"></div>
    </div>

    <div>
      <div class="btn-cta cta-set visible-xs" style="position:fixed;right:2em;top:6.75em;">
        <button class="btn btn-fab btn-raised btn-material-lightgrey text-center padder-n" ng-click="saveFile()" ng-class="{'disabled' : !(appRam.$currentFile)}"><i class="ion-upload" style="font-size:1.25em;top:-.05em;" ng-class="{'text-muted' : !(appRam.$currentFile), ' text-warning':appRam.$currentFile}"></i></button>
      </div>
      <div class="btn-cta cta-set visible-xs" style="position:fixed;right:2em;bottom:2em;">
        <button class="btn btn-fab btn-raised btn-material-lightgrey text-center padder-n" ng-click="toggleFolders()"><i class="ion-android-folder text-white" style="font-size:1.25em;top:-.05em;" ng-class="{'text-muted' : !(appRam.$currentFile), ' text-warning':appRam.$currentFile}"></i></button>
      </div>

      <div class="btn-cta cta-set hidden-xs" style="position:fixed;right:1em;top:6.75em;">
        <button class="btn btn-fab btn-raised btn-material-lightgrey text-center padder-n" ng-click="saveFile()" ng-class="{'disabled' : !(appRam.$currentFile)}"><i class="ion-upload" style="font-size:1.25em;top:-.05em;" ng-class="{'text-muted' : !(appRam.$currentFile), ' text-warning':appRam.$currentFile}"></i></button>
      </div>
      <div class="btn-cta cta-set hidden-xs" style="position:fixed;right:1em;top:11.75em;">
        <button class="btn btn-fab btn-raised btn-material-lightgrey text-center padder-n" ng-click="toggleFolders()"><i class="ion-android-folder text-white" style="font-size:1.25em;top:-.05em;" ng-class="{'text-muted' : !(appRam.$currentFile), ' text-warning':appRam.$currentFile}"></i></button>
      </div>

    </div>
    <!-- /editor -->
  </div>
</div>


<script>
  $(function() {
    function abso() {
      $('#build-editor').css({
        height: $('#content').height() - $('.row.navbar').height()
      });
    }
    $(window).resize(function() {
      abso();         
    });
    abso();
  });
</script>