    <header class="bg-white header header-lg navbar navbar-fixed-top-xs box-shadow navbar-dark">
      <div class="navbar-header aside-md dk">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open">
          <i class="fa fa-bars"></i>
        </a>

        <a href="" ui-sref="home" class="navbar-brand">
          <i class="fa fa-fire" class="m-r-sm" style="font-size:1.5em;"></i>
          <span class="hidden-nav-xs" style="font-size:2em;font-weight:100;">Pyro</span>
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown">
          <i class="fa fa-cog"></i>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
              <img ng-src="{{account.image || './images/blank_user.png'}}">
            </span>
            {{account.username || account.uid || "No Username"}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu animated fadeInRight">            
            <li>
              <span class="arrow top"></span>
              <a href="">Settings</a>
            </li>
            <li>
              <a href="" ui-sref="account">Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="" ng-click="logout()" >Logout</a>
            </li>
          </ul>
        </li>
      </ul>      
    </header>