<div class="header-panel navbar-dark navbar-fixed-top shadow-z-2" style="margin-bottom:69px;">
  <div class="container-fluid">
    <div class="row">
      <ul class="row m-n" style="padding:0;list-style:none;">

        <div class="col-xs-2">
          <li class="dropdown dropdown-left" ng-hide="currentState.parent !== 'instance'">
            <div class="dropdown-toggle" data-toggle="dropdown">
              <i class="ion-navicon"></i>
            </div>
            <ul class="dropdown-menu animated fadeInLeft">
              <li><a ng-click="goToData();">Data</a></li>
              <li><a ng-click="goToEditor();">Editor</a></li>
              <li><a ng-click="goToTester();">Tester</a></li>
              <li><a ng-click="goToDash();">Insights</a></li>
            </ul>
          </li>
        </div>

        <div class="col-xs-8" style="padding: 0 6em;">
          <h1 class="text-white">Pyro</h1>
        </div>
        
        <div class="col-xs-2">
          <li class="dropdown dropdown-right">
            <div class="dropdown-toggle" data-toggle="dropdown">
              <i class="ion-android-more-vertical"></i>
            </div>
            <ul class="dropdown-menu animated fadeInRight">
              <li><a ui-sref="home"><i class="ion-android-apps m-r-md"></i>All Apps</a></li>
              <li class="divider"></li>
              <li><a ui-sref="account"><i class="ion-person m-r-md"></i>Account</a></li>
              <li><a ng-click="logout()"><i class="ion-log-out m-r-md"></i>Logout</a></li>
            </ul>
          </li>
        </div>

      </ul>
    </div>
  </div>
</div>
