<ul id="dashboard-menu">
    <li class="active">
        <div class="pointer">
            <div class="arrow"></div>
            <div class="arrow_border"></div>
        </div>
        <a href="index.html">
            <i class="icon-home"></i>
            <span>Admin</span>
        </a>
    </li>            
    <li>
        <a href="chart-showcase.html">
            <i class="icon-signal"></i>
            <span>Analytics</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <i class="icon-picture"></i>
            <span>Push</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <i class="icon-picture"></i>
            <span>Integrations</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <i class="icon-picture"></i>
            <span>CMS</span>
        </a>
    </li>
</ul>